{% load bootstrap5 %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>Noticias SENAC</title>
    <link href="{% static 'css/stilo.css' %}" rel="stylesheet">
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}

  </head>

  <body>

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
        <a class="navbar-brand" href="">Noticias</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'listar_autores' %}">Listar Autores</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'listar_noticias' %}">Listar Noticias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'criar_autor' %}">Criar Autor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'criar_noticia' %}">Criar Noticia</a>
              </li>
          </ul>
        </div>
        <div class="col-md-3 text-end">
          {% if user.is_authenticated %}
          <span class="text-white">{{ user.username }}</span>
          <a href="{% url 'logout' %}" class="btn btn-primary">Sair</a>
          {% else %}
          <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
          {% endif %}
        </div>
      </div>
      </nav>
    </header>

    <!-- Begin page content -->
    
    <main role="main" class="container pt-5">
      
      <h1>Noticias SENAC</h1>
      {% bootstrap_messages %}
      {% block content %}
      <p class="lead">O conteudo do site fica aqui.</p>
      {% endblock content %}
    </main>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% bootstrap_javascript %}
  </body>
</html>